* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a {
    display: inline-block;
}
a:focus,
a:active {
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 14px;
    font-display: swap;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    overflow-x: hidden;
    font-family: "Open Sans";
    background-color: #f6f6f6;
    letter-spacing: 0.02em;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
h1 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 40px;
}
h2 {
    font-size: 24px;
    line-height: 33px;
}
h3 {
    font-size: 20px;
    line-height: 27px;
}
.container {
    max-width: 1260px;
    padding: 0 40px;
    margin: 0 auto;
    &-x {
        overflow-x: hidden;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    flex: 0 0 auto;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.button {
    display: inline-block;
    background-color: #ee7f01;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    padding: 10px;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: lowercase;
}
.button.button-white {
    border: 1px solid #ee7f01;
    background-color: transparent;
    color: #ee7f01;
}
.button:hover {
    background-color: #ffa426;
}
.button.button-white:hover {
    background-color: transparent;
}
.button:disabled,
.button[disabled] {
    background-color: #ee7f01;
    opacity: 0.3;
    cursor: not-allowed;
}
.page__list {
    margin: 40px 0 11px;
    display: flex;
    li {
        position: relative;
        font-size: 14px;
        line-height: 19px;
        margin-right: 5.5px;
        padding-right: 8.5px;
        a {
            color: black;
        }
    }
    li::after {
        content: "/";
        position: absolute;
        display: inline-block;
        top: 0px;
        right: 0px;
    }
    li:last-child {
        color: #ee7f01;
        a {
            color: #ee7f01;
        }
    }
    li:last-child::after {
        display: none;
    }
}
.price {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #ee7f01;
    span {
        font-weight: 400;
        margin-left: 7px;
    }
}
.border-dashed-280,
.border-dashed-680 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.border-dashed-300 {
    position: absolute;
    top: -1.667vw;
    right: -1.667vw;
    width: calc(100% + 3.333vw);
    height: calc(100% + 3.333vw);
    z-index: -1;
    border-radius: 1.389vw;
    box-shadow: 0px 0px 5.556vw rgba(0, 0, 0, 0.25);
}
.border-dashed-144 {
    position: absolute;
    top: -1.667vw;
    right: -1.667vw;
    width: calc(100% + 3.333vw);
    height: calc(100% + 3.333vw);
    z-index: -1;
    border-radius: 1.389vw;
    box-shadow: 0px 0px 5.556vw rgba(0, 0, 0, 0.25);
}
.border-mobile {
    display: none;
}
.border-desctop {
    display: block;
}
@media (max-width: 768px) {
    html,
    body {
        font-size: 3.889vw;
    }
    .container {
        padding: 0vw 5.556vw;
    }
    h1 {
        font-size: 8.889vw;
        line-height: 12.222vw;
        margin-bottom: 8.333vw;
    }
    h2 {
        font-size: 6.667vw;
        line-height: 9.167vw;
    }
    h3 {
        font-size: 5.556vw;
        line-height: 7.5vw;
    }
    .button {
        border-radius: 1.389vw;
        font-size: 4.444vw;
        line-height: 6.111vw;
        padding: 2.778vw;
    }
    .page__list {
        margin: 6.667vw 0 2.778vw;
        height: 1.4em;
        overflow-x: scroll;
        white-space: nowrap;
        li {
            font-size: 3.333vw;
            line-height: 4.444vw;
            margin-right: 1.389vw;
            padding-right: 2.222vw;
        }
    }
    .page__list::-webkit-scrollbar {
        height: 0.556vw;
    }

    .page__list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1.667vw transparent;
    }

    .page__list::-webkit-scrollbar-thumb {
        border-radius: 2.778vw;
        background-color: #ee7f01;
    }
    .price {
        font-weight: 700;
        font-size: 6.667vw;
        line-height: 9.167vw;
        span {
            font-weight: 400;
            margin-left: 1.944vw;
        }
    }
    .border-mobile {
        display: block;
    }
    .border-desctop {
        display: none;
    }
}
