.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.4s ease;
    transform: translateY(0);
    z-index: 50;
    background-color: white;

    // .header__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
        margin: 0 -5px;
        margin-right: 36px;
        img {
            width: 210px;
            height: 50px;
            padding: 0 5px;
        }
        p {
            font-size: 14px;
            line-height: 19px;
            color: #7b7b7b;
            border-left: 1px solid #7b7b7b;
            padding: 0 5px;
            height: 25px;
            margin-top: 8px;
            width: 185px;
        }
    }

    // .header__search

    &__search {
        width: 450px;
        height: 42px;
        background: #f6f6f6;
        border: 1px solid #e3e3e3;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-right: 50px;
        input {
            background-color: transparent;
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            opacity: 0.5;
        }
        button {
            width: 23px;
            height: 23px;
            margin-left: 10px;
            background-color: transparent;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    // .header__feedback

    &__top-wrap {
        display: flex;
    }
    &__feedback-wrap {
        display: flex;
    }
    &__feedback {
        display: flex;
        margin-right: 30px;
        a {
            width: 220px;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
            white-space: nowrap;
        }
        img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
    }

    // .header__message

    &__message {
        img {
            width: 30px;
            height: 27px;
        }
    }
    &__feedback-mobile,
    &__logo-mobile {
        display: none;
    }
    // .header__menu

    &__menu {
        width: 100vw;
        background-color: #ee7f01;
    }

    // .header__list

    &__list {
        display: flex;
        align-items: center;
        color: white;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        a {
            color: white;
        }
    }

    // .header__item

    &__item {
        position: relative;
        width: 250px;
        height: 35px;
        white-space: nowrap;
        text-transform: lowercase;
        p {
            cursor: pointer;
        }
    }
    &__item-name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
    }
    &__item:nth-child(odd)::before {
        content: url(../icon/icon-block-menu.svg);
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 250px;
        height: 35px;
    }
    // .header__item-catalog

    &__item-catalog {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        svg {
            display: none;
        }
        ul {
            font-weight: 600;
        }
        li {
            padding-right: 50px;
        }
        a::before {
            content: url(../icon/icon-menu-arrow-right.svg);
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0px;
            width: 40px;
            height: 20px;
        }
    }

    // .header__nested-list

    &__nested-list {
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        top: 100%;
        left: 20px;
        padding: 10px;
        min-width: 250px;
        visibility: hidden;
        transition: 0.3s;
        opacity: 0;
    }
    &__item-name:hover + &__nested-list,
    &__nested-list:hover {
        visibility: visible;
        opacity: 1;
    }

    // .header__nested-item

    &__nested-item {
        position: relative;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid #e5e5e5;
        text-transform: none;
        transition: 0.2s;
        a {
            color: black;
            width: 100%;
        }
    }
    &__nested-item:hover {
        border-bottom: 1px solid #999999;
    }
}
.header.hide {
    transform: translateY(-100%);
}
@media (min-width: 768px) {
    .header__nested-list {
        overflow-y: auto;
        max-height: 70vh;
    }
    .header__nested-list::-webkit-scrollbar {
        width: 7px;
    }

    .header__nested-list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #978a8c;
    }

    .header__nested-list::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #ee7f01;
    }
}
@media (max-width: 1200px) {
    .header {
        // .header__top
        &__top {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            padding: 25px 0 10px;
        }
        &__feedback-wrap {
            justify-content: flex-end;
            width: 876px;
            margin-top: 10px;
        }
        // .header__search
        &__search {
            margin: 0;
        }
        // .header__list

        &__list {
            font-size: max(1.5vw, 14px);
        }
        &__item:nth-child(odd) {
            background-color: black;
        }
        &__item:nth-child(odd)::before {
            content: "";
            display: none;
        }
    }
}
@media (min-width: 769px) and (max-width: 1023px) {
    .header {
        // .header__top
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 25px 0 10px;
        }
        &__logo {
            order: 1;
            margin-right: 30px;
        }
        &__feedback-wrap {
            justify-content: flex-start;
            width: auto;
            margin-top: 0;
            order: 2;
        }
        &__feedback {
            margin-right: 20px;
            a {
                width: 100%;
                font-size: 18px;
            }
        }
        // .header__search
        &__search-wrap {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            order: 3;
            margin-top: 20px;
        }
        // .header__list

        &__list {
            font-size: max(1.5vw, 14px);
        }
        &__item:nth-child(odd) {
            background-color: black;
        }
        &__item:nth-child(odd)::before {
            content: "";
            display: none;
        }
    }
}
.menu-btn {
    display: none;
}
@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .menu-btn {
        position: relative;
        display: block;
        width: 6.667vw;
        height: 6.667vw;
        position: relative;
        z-index: 2;
        overflow: hidden;
        z-index: 150;
        background-color: #f6f6f6;
        background-image: url(../icon/burger-close.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1vw auto;
        border: 0.278vw solid #e3e3e3;
        border-radius: 1.389vw;
    }
    .menu-btn.active {
        background-image: url(../icon/burger-open.svg);
        background-size: contain;
    }
    .header {
        box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
        width: 100vw;
        &__menu-wrapper {
            display: none;
        }
        &__menu-wrapper.active {
            display: block;
            position: absolute;
            overflow-y: scroll;
            overflow-x: hidden;
            left: 0;
            top: 0;
            width: 77.778vw;
            min-height: 100vh;
            height: 100%;
            background: #000000;
            box-shadow: 0vw 0vw 2.778vw rgba(0, 0, 0, 0.25);
            border-radius: 0vw;
            padding: 5.556vw 0;
        }
        &__menu-wrapper.active::-webkit-scrollbar {
            width: 1.389vw;
        }

        &__menu-wrapper.active::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 1.667vw #f6f6f6;
        }

        &__menu-wrapper.active::-webkit-scrollbar-thumb {
            border-radius: 1.389vw;
            background-color: #ee7f01;
        }
        &__menu {
            background-color: black;
            width: 100%;
            img {
                width: 44.444vw;
                height: 11.111vw;
            }
        }
        &__list {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 20.833vw;
            width: 100%;
            li {
                padding: 5.556vw 0;
                border-bottom: 0.278vw solid #313131;
            }
            .header__nested-item:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            p,
            a {
                transition: 0.3s;
                width: 100%;
            }
        }
        &__item,
        &__item-name {
            justify-content: flex-start;
            align-items: flex-start;
            font-weight: 600;
            font-size: 4.444vw;
            height: 100%;
            line-height: 1.35em;
            width: 100%;
        }
        &__nested-list {
            position: relative;
            background-color: transparent;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            border-radius: 0;
            top: 0;
            left: 0;
            padding: 0;
            min-width: 100%;
            height: 0;
            visibility: hidden;
            transition: 0.3s;
            opacity: 0;
            color: white;
            overflow: visible;
        }
        &__item:hover p {
            color: #ee7f01;
        }
        &__item-name:hover + &__nested-list,
        &__nested-list:hover {
            height: 100%;
        }
        &__nested-item {
            a {
                color: white;
                font-size: 3.889vw;
                line-height: 5.278vw;
            }
        }
        &__nested-item::before {
            content: url(../icon/icon-line-point.svg);
            margin-right: 2vw;
            width: 5.556vw;
        }
        &__item-catalog {
            a::before {
                display: none;
            }
            svg {
                display: block;
                transform: translate(50%, 100%);
                fill: white;
                transition: 0.2s;
                width: 5.556vw;
                height: 2.222vw;
            }
        }
        &__item-catalog:hover {
            svg {
                fill: #ee7f01;
                transform: translate(50%, 100%) rotate(90deg);
            }
        }
        &__feedback-wrap {
            display: none;
        }

        &__top {
            padding: 5.556vw 0 1.389vw 0;
            border-bottom: 0;
            justify-content: space-between;
        }
        &__logo-mobile {
            display: block;
            margin-bottom: 9.722vw;
            img {
                width: 44.444vw;
                height: 11.111vw;
            }
        }
        &__feedback-mobile {
            display: inline-block;
            img {
                width: 6.667vw;
                height: 6.667vw;
                margin-right: 1.389vw;
            }
            a {
                font-weight: 700;
                font-size: 5.556vw;
                line-height: 1.35em;
                color: #ee7f01;
            }
        }
        // .header__logo

        &__logo {
            margin: 0;
            img {
                width: 33.333vw;
                height: 8.333vw;
                padding: 0;
            }
            p {
                display: none;
            }
        }

        // .header__search-wrap

        &__search-wrap {
            margin-top: 2.778vw;
            width: 100%;
        }

        // .header__search

        &__search {
            width: 100%;
            height: 11.111vw;
            padding: 2.778vw;
            input {
                font-size: 3.333vw;
                line-height: 4.444vw;
            }
            button {
                width: 5.556vw;
                height: 5.556vw;
                margin-left: 2.778vw;
            }
        }
    }
}
