.about {
    &__team {
        margin-top: 70px;
        h2 {
            font-size: 32px;
            line-height: 44px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 40px 30px;
            margin-top: 48px;
        }
        li {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 270px;
            min-height: 295px;
            background-color: white;
            padding: 20px 40px;
            p {
                text-align: center;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
            }
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin: 10px 0;
                object-fit: cover;
            }
            .about-date-info {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
            }
        }
        .border-dashed-280 {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        }
    }
}
