.about {
    margin-top: 70px;
    h2 {
        margin-bottom: 50px;
    }
    &__title-desktop {
        display: inline-block;
    }
    &__title-mobile {
        display: none;
    }
    // .about__left
    &__wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }
    &__left {
        p {
            font-size: 20px;
            line-height: 120%;
            margin-bottom: 30px;
            span {
                font-weight: 600;
                font-size: 24px;
                color: #ee7f01;
                text-transform: uppercase;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            margin-bottom: 40px;
            li {
                padding-left: 34px;
                position: relative;
                font-size: 20px;
                line-height: 27px;
            }
            li::before {
                content: url(../icon/icon-check.svg);
                position: absolute;
                display: block;
                top: 3px;
                left: 0px;
                width: 20px;
                height: 20px;
            }
        }
    }

    // .about__right

    &__right {
        img {
            width: 450px;
            height: 390px;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        margin-top: 8.333vw;
        h2 {
            margin-bottom: 8.333vw;
        }
        &__wrapper {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            -moz-column-gap: 8.333vw;
            column-gap: 0;
            row-gap: 5.556vw;
            background: #ffffff;
            box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
            border-radius: 1.389vw;
            padding: 5.556vw 2.778vw;
        }
        &__left {
            p {
                display: none;
            }
            ul {
                row-gap: 2.778vw;
                margin-bottom: 0;
                li {
                    padding-left: 9.444vw;
                    font-size: 3.889vw;
                    line-height: 5.278vw;
                }
                li::before {
                    content: "";
                    background-image: url(../icon/icon-check.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    top: 0;
                    left: 0;
                    width: 5.556vw;
                    height: 5.556vw;
                }
            }
        }
        .button {
            display: none;
        }
        &__title-desktop {
            display: none;
        }
        &__title-mobile {
            display: inline-block;
        }
        &__right {
            img {
                width: 100%;
                height: 55.556vw;
                border-radius: 1.389vw;
            }
        }
    }
}
