.firstscreen {
    position: relative;
    height: calc(100vh - 118px);
    width: 100vw;
    margin-top: 120px;
    img {
        width: 100%;
        height: calc(100% - 30px);
        object-fit: cover;
    }
}
.firstscreen::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: -30px;
    width: calc(100vw + 30px);
    height: 30px;
    background: url(../icon/icon-header-line.svg);
}
