.provide {
    margin-top: 70px;
    h2 {
        margin-bottom: 30px;
    }
    // .provide__wrap
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    // .provide__item

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 380px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        overflow: hidden;
    }
    &__line {
        width: 760px;
        height: 10px;
        border-radius: 5px 5px 0 0;
        transition: 0.3s;
        transform: translateX(-45%);
    }
    &__item:hover &__line {
        animation: animLine 1s ease forwards;
    }
    @keyframes animLine {
        to {
            transform: translateX(-29.8%);
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: black;
        background-color: white;
    }
    &__icon {
        width: 60px;
        height: 60px;
    }
    &__arrow {
        position: absolute;
        width: 75px;
        bottom: 10px;
        right: 10px;
    }
}
@media (max-width: 1280px) {
    .provide {
        &__wrapper {
            li {
                width: calc(50% - 10px);
            }
        }
        &__item {
            max-width: 100%;
        }
        &__line {
            width: 750%;
        }
        &__item:hover &__line {
            animation: none;
        }
    }
}
@media (max-width: 768px) {
    .provide {
        margin-top: 13.889vw;
        h2 {
            margin-bottom: 8.333vw;
        }
        &__wrapper {
            flex-direction: column;
            row-gap: 2.778vw;
            li {
                width: 100%;
                a {
                    width: 100%;
                }
            }
        }
        &__wrap {
            column-gap: 2.778vw;
        }
        &__item {
            max-width: 100%;
            width: 100%;
            border: 0.278vw solid #e3e3e3;
            border-radius: 1.389vw;
            img {
                width: 8.333vw;
                bottom: 5.556vw;
                right: 5.556vw;
            }
        }
        &__line {
            display: none;
        }
        &__wrap {
            padding: 2.778vw;
            font-size: 5vw;
            line-height: 6.944vw;
        }
        &__icon {
            width: 13.889vw !important;
            height: 13.889vw !important;
            object-fit: contain;
        }
    }
}
