.error {
    margin-bottom: 60px;
    h1 {
        margin: 70px 0 60px;
    }
    // .error__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    &__number {
        img {
            width: 550px;
        }
    }
    // .error__info

    &__info {
        width: 380px;
        text-align: center;
        h2,
        h3,
        p {
            width: 310px;
            margin: 0 auto;
        }
        h2 {
            margin-bottom: 20px;
        }
        h3 {
            margin-bottom: 7px;
        }
        p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        span {
            display: inline-block;
            margin: 10px 0;
        }
    }
    .button {
        width: 100%;
    }
    // .error__search

    &__search {
        width: 100%;
        height: 42px;
        background: #f6f6f6;
        border: 1px solid #e3e3e3;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        input {
            background-color: transparent;
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            opacity: 0.5;
        }
        button {
            width: 23px;
            height: 23px;
            margin-left: 10px;
            background-color: transparent;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (max-width: 1024px) {
    .error__wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media (max-width: 768px) {
    .error {
        margin-bottom: 0vw;
        h1 {
            margin: 13.889vw 0;
        }
        // .error__wrapper
        &__wrapper {
            gap: 13.889vw;
        }

        &__number {
            width: 100%;
            img {
                width: 100%;
            }
        }
        // .error__info

        &__info {
            width: 100%;
            h2,
            h3,
            p {
                width: 100%;
                margin: 0 auto;
            }
            h2 {
                margin-bottom: 5.556vw;
            }
            h3 {
                margin-bottom: 1.944vw;
            }
            p {
                font-size: 4.444vw;
                line-height: 6.111vw;
                margin-bottom: 5.556vw;
            }
            span {
                font-size: 4.444vw;
                line-height: 6.111vw;
                margin: 2.778vw 0;
            }
        }
        .button {
            width: 100%;
        }
        // .error__search

        &__search {
            width: 100%;
            height: 11.667vw;
            border: 0.278vw solid #e3e3e3;
            padding: 2.778vw;
            border-radius: 1.389vw;
            margin-right: 0;
            input {
                width: 100%;
                font-size: 4.444vw;
                line-height: 6.111vw;
            }
            button {
                width: 6.389vw;
                height: 6.389vw;
                margin-left: 2.778vw;
            }
        }
        .button {
            font-size: 6.667vw;
            line-height: 9.167vw;
        }
    }
}
