.lists__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.lists__item {
  position: relative;
  width: 380px;
}
.lists__item.active .lists__wrap::after {
  transform: rotate(180deg);
}
.lists__item.active .lists__nested-wrapper {
  position: static;
  visibility: visible !important;
  opacity: 1 !important;
}
.lists__wrap {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  z-index: 1;
}
.lists__wrap img {
  width: 60px;
  height: 60px;
}
.lists__wrap p {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-right: 40px;
}
.lists__wrap::after {
  content: url(../icon/icon-arrow-bottom.svg);
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
}
.lists__nested-wrapper {
  position: absolute;
  top: -1000%;
  left: -1000%;
  padding: 30px 20px 20px;
  margin-top: -10px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.lists__nested-wrapper li {
  width: 100%;
  cursor: default;
}
.lists__nested-wrapper li a {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: black;
  transition: 0.3s;
  padding-right: 100px;
}
.lists__nested-wrapper a::after {
  content: url(../icon/icon-arrow-right.svg);
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 20px;
  right: 20px;
  transition: 0.3s;
}
.lists__nested-wrapper li:hover a {
  color: #ee7f01;
}
.lists__nested-wrapper li:hover a::after {
  transform: translateY(-50%) scale(1.35);
}

@media (max-width: 1280px) {
  .lists__wrapper {
    justify-content: flex-start;
  }
  .lists__item {
    max-width: calc(50% - 10px);
    width: 100%;
  }
}
@media (max-width: 768px) {
  .lists__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2.778vw 0;
  }
  .lists__item {
    max-width: 100%;
  }
  .lists__wrap {
    box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
    border-radius: 1.389vw;
    -moz-column-gap: 2.778vw;
         column-gap: 2.778vw;
    padding: 2.778vw;
  }
  .lists__wrap img {
    width: 13.889vw;
    height: 13.889vw;
  }
  .lists__wrap p {
    font-size: 5vw;
    line-height: 6.944vw;
    margin-right: 7vw;
  }
  .lists__wrap::after {
    content: "";
    background-image: url(../icon/icon-arrow-bottom.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 5.556vw;
    width: 3.667vw;
    height: 2vw;
  }
  .lists__nested-wrapper {
    padding: 2.778vw 0 0 0;
    margin-top: -2.778vw;
    box-shadow: 0px 0px 1.389vw rgba(0, 0, 0, 0.25);
    border-radius: 0 0 1.389vw 1.389vw;
  }
  .lists__nested-wrapper li a {
    padding: 2.778vw;
    font-size: 4.444vw;
    line-height: 6.111vw;
    padding-right: 15.889vw;
  }
  .lists__nested-wrapper a::after {
    content: "";
    background-image: url(../icon/icon-arrow-right-provide-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 8.333vw;
    height: 5.556vw;
    right: 5.556vw;
  }
  .lists__nested-wrapper li:hover a {
    color: #ee7f01;
  }
  .lists__nested-wrapper li:hover a::after {
    transform: translateY(-50%) scale(1.35);
  }
}