.firstscreen {
  position: relative;
  height: calc(100vh - 118px);
  width: 100vw;
}
.firstscreen__title h1 {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
.firstscreen img {
  width: 100%;
  height: calc(100% - 30px);
  -o-object-fit: cover;
     object-fit: cover;
}

.firstscreen::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: -30px;
  width: calc(100vw + 30px);
  height: 30px;
  background: url(../icon/icon-header-line.svg);
}

.provide {
  margin-top: 70px;
}
.provide h2 {
  margin-bottom: 30px;
}
.provide__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.provide__item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  overflow: hidden;
}
.provide__line {
  width: 760px;
  height: 10px;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
  transform: translateX(-45%);
}
.provide__item:hover .provide__line {
  animation: animLine 1s ease forwards;
}
@keyframes animLine {
  to {
    transform: translateX(-29.8%);
  }
}
.provide__wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: black;
  background-color: white;
}
.provide__icon {
  width: 60px;
  height: 60px;
}
.provide__arrow {
  position: absolute;
  width: 75px;
  bottom: 10px;
  right: 10px;
}

.about {
  margin-top: 70px;
}
.about h2 {
  margin-bottom: 50px;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.about__left p {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}
.about__left p span {
  font-weight: 600;
  font-size: 24px;
  color: #ee7f01;
  text-transform: uppercase;
}
.about__left ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 40px;
}
.about__left ul li {
  padding-left: 34px;
  position: relative;
  font-size: 20px;
}
.about__left ul li::before {
  content: url(../icon/icon-check.svg);
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
}
.about__right img {
  width: 450px;
  height: 390px;
}

.cooperation {
  margin-top: 70px;
}
.cooperation h2 {
  margin-bottom: 40px;
}
.cooperation__wrapper {
  display: flex;
  align-items: center;
  background-color: white;
}
.cooperation img {
  width: 735px;
  height: 350px;
}
.cooperation form {
  margin-left: 125px;
}
.cooperation form fieldset {
  display: flex;
  flex-direction: column;
}
.cooperation form textarea,
.cooperation form input {
  padding: 10px;
  width: 320px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
}
.cooperation form input {
  height: 40px;
}
.cooperation form textarea {
  resize: none;
  height: 100px;
}
.cooperation .button {
  width: 100%;
}

.news {
  margin-top: 135px;
}
.news h2 {
  margin-bottom: 30px;
}
.news ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.news ul li {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  max-width: 280px;
}
.news ul a,
.news ul time {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ee7f01;
}
.news ul time {
  margin-bottom: 20px;
}
.news ul p {
  line-height: 19px;
  margin-bottom: 10px;
}

.map {
  margin-top: 60px;
  margin-bottom: -70px;
}