.firstscreen {
  position: relative;
  height: calc(100vh - 118px);
  width: 100vw;
}
.firstscreen__title h1 {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
.firstscreen img {
  width: 100%;
  height: calc(100% - 30px);
  -o-object-fit: cover;
     object-fit: cover;
}

.firstscreen::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: -30px;
  width: calc(100vw + 30px);
  height: 30px;
  background: url(../icon/icon-header-line.svg);
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .main .firstscreen {
    order: 1;
  }
  .main .menu-mobile {
    order: 2;
  }
  .main .title-mobile {
    order: 3;
  }
  .main .subscription-mobile {
    order: 5;
  }
  .main .provide {
    order: 6;
  }
  .main .about {
    order: 7;
  }
  .main .cooperation {
    display: none;
  }
  .main .news {
    order: 4;
  }
  .main .map {
    order: 8;
  }
  .firstscreen {
    height: 55.556vw;
  }
  .firstscreen img {
    height: 100%;
  }
  .firstscreen::before {
    display: none;
  }
}
.provide {
  margin-top: 70px;
}
.provide h2 {
  margin-bottom: 30px;
}
.provide__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.provide__item {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  overflow: hidden;
}
.provide__line {
  width: 760px;
  height: 10px;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
  transform: translateX(-45%);
}
.provide__item:hover .provide__line {
  animation: animLine 1s ease forwards;
}
@keyframes animLine {
  to {
    transform: translateX(-29.8%);
  }
}
.provide__wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: black;
  background-color: white;
}
.provide__icon {
  width: 60px;
  height: 60px;
}
.provide__arrow {
  position: absolute;
  width: 75px;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 1280px) {
  .provide__wrapper li {
    width: calc(50% - 10px);
  }
  .provide__item {
    max-width: 100%;
  }
  .provide__line {
    width: 750%;
  }
  .provide__item:hover .provide__line {
    animation: none;
  }
}
@media (max-width: 768px) {
  .provide {
    margin-top: 13.889vw;
  }
  .provide h2 {
    margin-bottom: 8.333vw;
  }
  .provide__wrapper {
    flex-direction: column;
    row-gap: 2.778vw;
  }
  .provide__wrapper li {
    width: 100%;
  }
  .provide__wrapper li a {
    width: 100%;
  }
  .provide__wrap {
    -moz-column-gap: 2.778vw;
         column-gap: 2.778vw;
  }
  .provide__item {
    max-width: 100%;
    width: 100%;
    border: 0.278vw solid #e3e3e3;
    border-radius: 1.389vw;
  }
  .provide__item img {
    width: 8.333vw;
    bottom: 5.556vw;
    right: 5.556vw;
  }
  .provide__line {
    display: none;
  }
  .provide__wrap {
    padding: 2.778vw;
    font-size: 5vw;
    line-height: 6.944vw;
  }
  .provide__icon {
    width: 13.889vw !important;
    height: 13.889vw !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.about {
  margin-top: 70px;
}
.about h2 {
  margin-bottom: 50px;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.about__left p {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}
.about__left p span {
  font-weight: 600;
  font-size: 24px;
  color: #ee7f01;
  text-transform: uppercase;
}
.about__left ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 40px;
}
.about__left ul li {
  padding-left: 34px;
  position: relative;
  font-size: 20px;
}
.about__left ul li::before {
  content: url(../icon/icon-check.svg);
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
}
.about__right img {
  width: 450px;
  height: 390px;
}

.cooperation {
  margin-top: 70px;
}
.cooperation h2 {
  margin-bottom: 40px;
}
.cooperation__wrapper {
  display: flex;
  align-items: center;
  background-color: white;
}
.cooperation img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cooperation form {
  margin-left: 125px;
}
.cooperation form fieldset {
  display: flex;
  flex-direction: column;
}
.cooperation form textarea,
.cooperation form input {
  padding: 10px;
  width: 320px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 14px;
  line-height: 19px;
  color: black;
  background-color: white;
}
.cooperation form input {
  height: 40px;
}
.cooperation form textarea {
  resize: none;
  height: 100px;
}
.cooperation .button {
  width: 100%;
}

.news-mobile {
  display: none;
}

.news {
  margin-top: 135px;
}
.news h2 {
  margin-bottom: 30px;
}
.news ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.news ul li {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  max-width: 280px;
}
.news ul a,
.news ul time {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ee7f01;
}
.news ul time {
  margin-bottom: 20px;
}
.news ul p {
  line-height: 19px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .news ul li {
    max-width: calc(50% - 10px);
    width: 100%;
  }
}
@media (max-width: 768px) {
  .news {
    display: none;
  }
  .news-mobile {
    display: block;
    margin-top: 13.889vw;
  }
  .news-mobile h2 {
    margin-bottom: 8.333vw;
  }
  .news-mobile ul {
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0;
    height: 73.611vw;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 1.389vw;
    border: 0.278vw solid #e3e3e3;
  }
  .news-mobile ul li {
    max-width: 100%;
    padding: 0;
    border-radius: 0;
    border-bottom: 0.278vw solid #e3e3e3;
  }
  .news-mobile ul a {
    padding: 2.778vw;
    color: inherit;
  }
  .news-mobile ul time {
    font-size: 5vw;
    line-height: 6.944vw;
    color: #ee7f01;
  }
  .news-mobile ul p:first-child {
    margin-bottom: 1.389vw;
  }
  .news-mobile ul p {
    font-size: 3.889vw;
    line-height: 5.278vw;
    margin-bottom: 0;
  }
  .news-mobile ul::-webkit-scrollbar {
    width: 0.556vw;
  }
  .news-mobile ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1.667vw #f6f6f6;
  }
  .news-mobile ul::-webkit-scrollbar-thumb {
    border-radius: 1.389vw;
    background-color: #ee7f01;
  }
}
.map {
  margin-top: 60px;
  margin-bottom: -70px;
}

.menu-mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu-mobile {
    display: block;
    margin-top: 8.333vw;
  }
  .menu-mobile ul {
    width: 100%;
    border: 0.278vw solid #e3e3e3;
    filter: drop-shadow(0px 0px 2.778vw rgba(0, 0, 0, 0.25));
    border-radius: 1.389vw;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .menu-mobile a {
    display: flex;
    -moz-column-gap: 2.778vw;
         column-gap: 2.778vw;
    padding: 2.778vw;
    font-weight: 600;
    font-size: 4.444vw;
    line-height: 6.111vw;
    color: #000000;
    border-bottom: 1px solid #e3e3e3;
  }
  .menu-mobile img {
    width: 6.111vw;
    height: 6.111vw;
  }
}
.subscription-mobile {
  display: none;
}

@media (max-width: 768px) {
  .subscription-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 5.556vw;
  }
  .subscription-mobile input {
    font-size: 3.333vw;
    line-height: 4.444vw;
    border: 0.278vw solid #000000;
    border-radius: 1.389vw;
    width: 100%;
    padding: 2.778vw;
    background-color: transparent;
    margin-top: 3.889vw;
  }
  .subscription-mobile .button {
    width: 100%;
    margin-top: 3.889vw;
  }
}
.title-mobile {
  display: none;
}

@media (max-width: 768px) {
  .title-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 8.334vw;
  }
  .title-mobile-wrap {
    padding: 5.556vw 2.778vw;
    background: #ffffff;
    box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
    border-radius: 1.389vw;
  }
  .title-mobile h2 {
    color: #ee7f01;
    text-transform: uppercase;
  }
  .title-mobile p {
    font-size: 3.889vw;
    line-height: 5.278vw;
    font-weight: 600;
    text-transform: lowercase;
  }
  .title-mobile .button {
    width: 100%;
    margin-top: 5.556vw;
  }
}