.map__tab-btn {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2px;
}
.map__tab-btn .tab-links {
  position: relative;
  display: inline-block;
  text-align: start;
  background: #ffffff;
  width: 280px;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  overflow-x: hidden;
}
.map__tab-btn .tab-links::before {
  content: "";
  position: absolute;
  display: block;
  left: -5%;
  bottom: 0px;
  width: 110%;
  height: 1px;
  background: #e3e3e3;
}
.map__tab-btn .tab-links:last-child::before {
  display: none;
}
.map__tab-btn .tab-links.active {
  color: #ee7f01;
}
.map .tab-content {
  display: none;
}
.map #map {
  display: block;
}
.map__tab {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1279px) and (min-width: 769px) {
  .main-map {
    position: relative;
  }
  .map__tab-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}
@media (max-width: 768px) {
  .map__tab-btn {
    box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
    border-radius: 1.389vw;
    width: 100%;
  }
  .map__tab-btn .tab-links {
    width: 100%;
    padding: 1.389vw;
    font-size: 5.556vw;
    line-height: 7.5vw;
  }
  .map__tab-btn .tab-links::before {
    content: "";
    height: 0.278vw;
  }
  .map__tab-btn .tab-links:first-child {
    border-radius: 1.389vw 1.389vw 0 0;
  }
  .map__tab-btn .tab-links:last-child {
    border-radius: 0 0 1.389vw 1.389vw;
  }
  .map__tab {
    flex-direction: column;
    margin-top: 0;
    gap: 8.333vw 0;
  }
}
#map h2 {
  margin-bottom: 20px;
}
#map input {
  width: 380px;
  height: 42px;
  border: 1px solid #ee7f01;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
  background-color: #f6f6f6;
}

.map__wrapper {
  margin-top: 40px;
  width: 1180px;
  transform: translateX(-304px);
}
.map__contact-wrap {
  font-style: normal;
}
.map__contact-row {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.map__contact-row:last-child {
  margin-top: 30px;
}
.map__contact-item {
  width: 380px;
}
.map__contact-item h3 {
  margin-bottom: 20px;
}
.map__contact-item a,
.map__contact-item p {
  font-size: 20px;
  line-height: 27px;
}
.map__contact-item a {
  color: #ee7f01;
  font-weight: 600;
}

@media (max-width: 1280px) {
  .map__wrapper {
    transform: translateX(0);
    width: 100%;
  }
}
@media (max-width: 768px) {
  #map h2 {
    margin-bottom: 2.778vw;
  }
  #map input {
    width: 100%;
    height: 10vw;
    border: 0.278vw solid #ee7f01;
    border-radius: 1.389vw;
    font-size: 3.333vw;
    line-height: 4.444vw;
    padding: 2.778vw;
  }
  .map__wrapper {
    margin-top: 8.333vw;
  }
  .map__contact-row {
    margin-top: 8.333vw;
    gap: 2.778vw;
  }
  .map__contact-row:first-child {
    margin-top: 13.889vw;
  }
  .map__contact-row:last-child {
    margin-top: 8.333vw;
  }
  .map__contact-item {
    width: 100%;
  }
  .map__contact-item h3 {
    margin-bottom: 5.556vw;
  }
  .map__contact-item a,
  .map__contact-item p {
    font-size: 4.444vw;
    line-height: 6.111vw;
  }
}
#shop h2 {
  margin-bottom: 30px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.shop a {
  color: black;
}
.shop__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 10px;
  width: 260px;
  border: 1px solid #ee7f01;
  border-radius: 5px;
}
.shop__item img {
  width: 100px;
  height: 50px;
}
.shop__item p {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
}

@media (max-width: 768px) {
  #shop h2 {
    margin-bottom: 5.556vw;
  }
  .shop {
    gap: 5.556vw;
  }
  .shop a {
    width: calc(50% - 2.778vw);
  }
  .shop__item {
    flex-direction: column;
    justify-content: center;
    -moz-column-gap: 2.778vw;
         column-gap: 2.778vw;
    padding: 2.778vw 6.944vw;
    width: 100%;
    border: 0.278vw solid #ee7f01;
    border-radius: 1.389vw;
  }
  .shop__item img {
    width: 27.778vw;
    height: 13.889vw;
  }
  .shop__item p {
    font-size: 5vw;
  }
}