.news__tab-btn {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.news__tab-btn .tab-links {
  position: relative;
  display: inline-block;
  text-align: start;
  background: #ffffff;
  width: 180px;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  overflow-x: hidden;
}
.news__tab-btn .tab-links:first-child {
  border-radius: 5px 5px 0 0;
}
.news__tab-btn .tab-links:last-child {
  border-radius: 0 0 5px 5px;
}
.news__tab-btn .tab-links::before {
  content: "";
  position: absolute;
  display: block;
  left: -5%;
  bottom: 0px;
  width: 110%;
  height: 1px;
  background: #e3e3e3;
}
.news__tab-btn .tab-links:last-child::before {
  display: none;
}
.news__tab-btn .tab-links.active {
  color: #ee7f01;
}
.news .tab-content {
  display: none;
}
.news #news {
  display: block;
}
.news__tab {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1279px) and (min-width: 769px) {
  .main-news {
    position: relative;
  }
  .news__tab-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}
@media (max-width: 768px) {
  .news__tab-btn {
    box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
    border-radius: 1.389vw;
    width: 100%;
  }
  .news__tab-btn .tab-links {
    width: 100%;
    padding: 1.389vw;
    font-size: 5.556vw;
    line-height: 7.5vw;
  }
  .news__tab-btn .tab-links::before {
    content: "";
    height: 0.278vw;
  }
  .news__tab-btn .tab-links:first-child {
    border-radius: 1.389vw 1.389vw 0 0;
  }
  .news__tab-btn .tab-links:last-child {
    border-radius: 0 0 1.389vw 1.389vw;
  }
  .news__tab {
    flex-direction: column;
    margin-top: 0;
    gap: 8.333vw 0;
  }
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.news__item {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 475px;
  min-height: 220px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
}
.news__item img {
  width: 230px;
  height: 200px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__item-info {
  display: flex;
  flex-direction: column;
  max-width: 210px;
  height: 100%;
}
.news__item-info time {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ee7f01;
  margin-bottom: 20px;
}
.news__item-info h3 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  max-height: 3em;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.news__item-info a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ee7f01;
  position: relative;
  padding-top: 5px;
  margin-top: 10px;
  border-top: 1px solid #e3e3e3;
}
.news__item-info a::after {
  content: "";
  display: block;
  background-image: url(../icon/icon-arrow-right-news.svg);
  transform: translateY(0.1em);
  background-repeat: no-repeat;
  background-size: contain;
  width: 29.999px;
  height: 9.281px;
  margin-left: 10.001px;
}
.news__item-text {
  flex: 1 0 auto;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 3;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

@media (max-width: 1280px) {
  .news__item {
    max-width: calc(50% - 10px);
  }
  .news__item img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .news__tab-wrapper {
    width: 100%;
  }
  .news__list {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2.778vw;
    width: 100%;
  }
  .news__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.778vw;
    max-width: 100%;
    min-height: 118.056vw;
    box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
    border-radius: 1.389vw;
    padding: 5.556vw 2.778vw;
  }
  .news__item img {
    width: 83.333vw;
    height: 55.556vw;
    border-radius: 1.389vw;
  }
  .news__item-info {
    max-width: 100%;
  }
  .news__item-info time {
    font-size: 5.556vw;
    line-height: 7.5vw;
    margin-bottom: 2.778vw;
  }
  .news__item-info h3 {
    font-size: 4.444vw;
    line-height: 6.111vw;
    margin-bottom: 2.778vw;
    -webkit-line-clamp: 2;
  }
  .news__item-info a {
    font-size: 5.556vw;
    line-height: 7.5vw;
    padding: 2.778vw 10.111vw 0 0;
    margin-top: 2.778vw;
    border-top: 0.278vw solid #e3e3e3;
  }
  .news__item-info a::after {
    content: "";
    width: 8.333vw;
    height: 2.578vw;
    margin-left: 2.778vw;
  }
  .news__item-text {
    line-height: 5.278vw;
    height: 10.556vw;
    -webkit-line-clamp: 2;
  }
}
.product__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
}
.product__item {
  position: relative;
  width: 280px;
  height: 100%;
  padding: 10px;
  background-color: white;
  overflow: hidden;
}
.product__item a {
  width: 100%;
}
.product__item p {
  font-size: 16px;
  line-height: 22px;
  color: black;
  margin: 10px 0 5px;
  height: 2.7em;
  overflow: hidden;
  display: block;
  max-height: 3em;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.product__item span {
  float: right;
}
.product__image {
  width: 260px;
  height: 260px;
  overflow: hidden;
}
.product__img {
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.product__item:hover .product__img {
  transform: scale(1.1);
}
.product__line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 760px;
  height: 10px;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
  transform: translateX(-45%);
  opacity: 0.5;
}
.product__item:hover .product__line {
  animation: animLine 1s ease forwards;
  opacity: 1;
}
@keyframes animLine {
  to {
    transform: translateX(-29.8%);
  }
}

@media (max-width: 1280px) {
  .product__item {
    width: calc(33% - 11px);
  }
  .product__image {
    width: 100%;
    height: 260px;
  }
  .product__img {
    width: 100%;
    height: 260px;
  }
}
@media (max-width: 1024px) {
  .product__item {
    width: calc(50% - 10px);
  }
  .product__line {
    transform: translateX(-35%);
  }
  .product__image {
    width: 100%;
    height: 30vw;
  }
  .product__img {
    width: 100%;
    height: 30vw;
  }
}
@media (max-width: 768px) {
  .product__list {
    gap: 5.556vw;
  }
  .product__item {
    width: calc(50% - 2.778vw);
    height: 61.111vw;
    padding: 2.778vw;
  }
  .product__item p {
    font-weight: 600;
    font-size: 3.333vw;
    line-height: 4.444vw;
    margin: 0 0 1.389vw 0;
  }
  .product__image {
    width: 36.111vw;
    height: 36.111vw;
  }
  .product__img {
    width: 36.111vw;
    height: 36.111vw;
  }
  .product__line {
    width: 77.778vw;
    height: 2.178vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.action__wrapper {
  width: 1180px;
  margin-top: 70px;
  transform: translateX(-200px);
}
.action__wrapper h2 {
  margin-bottom: 40px;
}
.action__image img {
  max-width: 980px;
  width: 100%;
  max-height: 356px;
  border-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}
.action__product {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
  margin-bottom: 70px;
}
.action__product p {
  font-size: 24px;
  line-height: 33px;
  max-width: 680px;
}
.action__product span {
  font-weight: 600;
}
.action__product img {
  max-width: 480px;
  max-height: 198px;
  -o-object-fit: cover;
     object-fit: cover;
}
.action .product__item {
  position: relative;
}
.action .product__item .sale {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  width: 89px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action .product__item .sale span {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
.action .product__item .sale::before {
  content: "";
  background-image: url(./../icon/sale.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.action .product__item .price__wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 10px;
}
.action .product__item .price__wrap s,
.action .product__item .price__wrap span {
  line-height: 0.8em;
}
.action .product__item .before-price {
  color: black;
  opacity: 0.5;
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 1280px) {
  .action__wrapper {
    width: 100%;
    transform: translateX(0);
  }
  .action__image img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 1024px) {
  .action__product {
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .action__product p {
    max-width: 100%;
  }
  .action__product img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 768px) {
  .action__wrapper {
    margin-top: 13.889vw;
  }
  .action__wrapper h2 {
    margin-bottom: 40px;
  }
  .action__image img {
    width: 88.889vw;
    height: 33.333vw;
    max-width: none;
    max-height: none;
    border-radius: 1.389vw;
  }
  .action__product {
    gap: 2.778vw;
    margin-bottom: 13.889vw;
  }
  .action__product p {
    font-size: 3.889vw;
    line-height: 5.278vw;
  }
  .action__product img {
    width: 88.889vw;
    height: 55.556vw;
  }
  .action .product__item .sale {
    width: 16.111vw;
    height: 8.056vw;
  }
  .action .product__item .sale span {
    font-size: 3.889vw;
    line-height: 5.278vw;
  }
  .action .product__item .price__wrap {
    -moz-column-gap: 2.778vw;
         column-gap: 2.778vw;
    margin: 2.778vw 0 1.389vw;
  }
  .action .product__item .price__wrap s,
  .action .product__item .price__wrap span {
    line-height: 0.8em;
  }
  .action .product__item .before-price {
    font-size: 3.333vw;
    line-height: 4.444vw;
  }
}