.page__news-time-mobile {
  display: none;
}
.page__news-time-desktop {
  display: block;
}
.page__news-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.page__news-top h1 {
  margin-bottom: 0;
}
.page__news-top p {
  font-size: 16px;
  line-height: 22px;
}
.page__news-top time {
  color: #ee7f01;
  margin-left: 6.5px;
}

@media (max-width: 768px) {
  .page__news-time-mobile {
    display: block;
    font-size: 3.333vw;
    line-height: 4.444vw;
    margin-top: 6.944vw;
  }
  .page__news-time-mobile time {
    color: #ee7f01;
    margin-left: 1.389vw;
  }
  .page__news-time-desktop {
    display: none;
  }
  .page__news-top {
    margin-bottom: 13.889vw;
  }
}
.page__news-wrapper p {
  max-width: 700px;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
}
.page__news-wrapper span {
  font-weight: 600;
  text-transform: uppercase;
}
.page__news-wrapper a {
  color: #ee7f01;
}
.page__news-image {
  display: flex;
  overflow-x: auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 20px 0;
  padding-bottom: 5px;
}
.page__news-image::-webkit-scrollbar {
  height: 2px;
}
.page__news-image::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6.001px transparent;
}
.page__news-image::-webkit-scrollbar-thumb {
  border-radius: 10.001px;
  background-color: #ee7f01;
}
.page__news-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-top: 30px;
  width: 100%;
}
.page__news-buttons form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.page__news .button {
  max-width: 580px;
  width: 100%;
}

@media (max-width: 768px) {
  .page__news-wrapper p {
    font-size: 4.444vw;
    line-height: 5.278vw;
  }
  .page__news-image {
    display: flex;
    overflow-x: auto;
    -moz-column-gap: 5.556vw;
         column-gap: 5.556vw;
    margin: 5.556vw 0;
    padding-bottom: 1.389vw;
  }
  .page__news-image::-webkit-scrollbar {
    height: 0.556vw;
  }
  .page__news-image::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1.667vw transparent;
  }
  .page__news-image::-webkit-scrollbar-thumb {
    border-radius: 2.778vw;
  }
  .page__news-buttons {
    row-gap: 2.778vw;
    margin-top: 5.556vw;
  }
}