* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
}

a:focus,
a:active {
  outline: none;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans";
  background-color: #f6f6f6;
  letter-spacing: 0.02em;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  line-height: 33px;
}

h3 {
  font-size: 20px;
  line-height: 27px;
}

.container {
  max-width: 1260px;
  padding: 0 40px;
  margin: 0 auto;
}
.container-x {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.button {
  display: inline-block;
  background-color: #ee7f01;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 10px;
  white-space: nowrap;
  transition: 0.3s;
}

.button.button-white {
  border: 1px solid #ee7f01;
  background-color: transparent;
  color: #ee7f01;
}

.button:hover {
  background-color: #ffa426;
}

.button.button-white:hover {
  background-color: transparent;
}

.button:disabled,
.button[disabled] {
  background-color: #ee7f01;
  opacity: 0.3;
  cursor: not-allowed;
}

.page__list {
  margin: 40px 0 11px;
  display: flex;
}
.page__list li {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  margin-right: 5.5px;
  padding-right: 8.5px;
}
.page__list li a {
  color: black;
}
.page__list li::after {
  content: "/";
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
}
.page__list li:last-child {
  color: #ee7f01;
}
.page__list li:last-child a {
  color: #ee7f01;
}
.page__list li:last-child::after {
  display: none;
}

.price {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #ee7f01;
}
.price span {
  font-weight: 400;
  margin-left: 7px;
}

.border-dashed-280,
.border-dashed-680 {
  position: absolute;
  top: -5px;
  right: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.border-dashed-300 {
  position: absolute;
  top: -1.667vw;
  right: -1.667vw;
  width: calc(100% + 3.333vw);
  height: calc(100% + 3.333vw);
  z-index: -1;
  border-radius: 1.389vw;
  box-shadow: 0px 0px 5.556vw rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 3.889vw;
  }
  .container {
    padding: 0vw 5.556vw;
  }
  h1 {
    font-size: 8.889vw;
    line-height: 12.222vw;
    margin-bottom: 8.333vw;
  }
  h2 {
    font-size: 6.667vw;
    line-height: 9.167vw;
  }
  h3 {
    font-size: 5.556vw;
    line-height: 7.5vw;
  }
  .button {
    border-radius: 1.389vw;
    font-size: 4.444vw;
    line-height: 6.111vw;
    padding: 2.778vw;
    padding: 1.389vw 2.778vw;
  }
  .page__list {
    margin: 6.667vw 0 2.778vw;
    height: 1.4em;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .page__list li {
    font-size: 3.333vw;
    line-height: 4.444vw;
    margin-right: 1.389vw;
    padding-right: 2.222vw;
  }
  .page__list::-webkit-scrollbar {
    height: 0.556vw;
  }
  .page__list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1.667vw transparent;
  }
  .page__list::-webkit-scrollbar-thumb {
    border-radius: 2.778vw;
    background-color: #ee7f01;
  }
  .price {
    font-weight: 700;
    font-size: 6.667vw;
    line-height: 9.167vw;
  }
  .price span {
    font-weight: 400;
    margin-left: 1.944vw;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.4s ease;
  transform: translateY(0);
  z-index: 50;
  background-color: white;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header__logo {
  display: flex;
  align-items: center;
  margin: 0 -5px;
}
.header__logo img {
  width: 210px;
  height: 50px;
  padding: 0 5px;
}
.header__logo p {
  font-size: 14px;
  line-height: 19px;
  color: #7b7b7b;
  border-left: 1px solid #7b7b7b;
  padding: 0 5px;
  height: 25px;
  margin-top: 8px;
  width: 185px;
}
.header__search {
  width: 450px;
  height: 42px;
  background: #f6f6f6;
  border: 1px solid #e3e3e3;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header__search input {
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
}
.header__search button {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  background-color: transparent;
}
.header__search img {
  width: 100%;
  height: 100%;
}
.header__top-wrap {
  display: flex;
}
.header__feedback-wrap {
  display: flex;
}
.header__feedback {
  display: flex;
  margin-right: 30px;
}
.header__feedback a {
  width: 220px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  white-space: nowrap;
}
.header__feedback img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.header__message img {
  width: 30px;
  height: 27px;
}
.header__feedback-mobile, .header__logo-mobile {
  display: none;
}
.header__menu {
  width: 100vw;
  background-color: #ee7f01;
}
.header__list {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.header__list a {
  color: white;
}
.header__item {
  position: relative;
  width: 250px;
  height: 35px;
  white-space: nowrap;
  text-transform: lowercase;
}
.header__item p {
  cursor: pointer;
}
.header__item-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.header__item:nth-child(odd)::before {
  content: url(../icon/icon-block-menu.svg);
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 35px;
}
.header__item-catalog {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.header__item-catalog svg {
  display: none;
}
.header__item-catalog ul {
  font-weight: 600;
}
.header__item-catalog li {
  padding-right: 50px;
}
.header__item-catalog a::before {
  content: url(../icon/icon-menu-arrow-right.svg);
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 40px;
  height: 20px;
}
.header__nested-list {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  top: 100%;
  left: 20px;
  padding: 10px;
  min-width: 250px;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}
.header__item-name:hover + .header__nested-list, .header__nested-list:hover {
  visibility: visible;
  opacity: 1;
}
.header__nested-item {
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  text-transform: none;
  transition: 0.2s;
}
.header__nested-item a {
  color: black;
  width: 100%;
}
.header__nested-item:hover {
  border-bottom: 1px solid #999999;
}

.header.hide {
  transform: translateY(-100%);
}

@media (min-width: 768px) {
  .header__nested-list {
    overflow-y: auto;
    max-height: 70vh;
  }
  .header__nested-list::-webkit-scrollbar {
    width: 7px;
  }
  .header__nested-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #978a8c;
  }
  .header__nested-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ee7f01;
  }
}
@media (max-width: 1200px) {
  .header__top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 0 10px;
  }
  .header__feedback-wrap {
    justify-content: flex-end;
    width: 876px;
    margin-top: 10px;
  }
  .header__search {
    margin: 0;
  }
  .header__list {
    font-size: max(1.5vw, 14px);
  }
  .header__item:nth-child(odd) {
    background-color: black;
  }
  .header__item:nth-child(odd)::before {
    content: "";
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0 10px;
  }
  .header__logo {
    order: 1;
    margin-right: 30px;
  }
  .header__feedback-wrap {
    justify-content: flex-start;
    width: auto;
    margin-top: 0;
    order: 2;
  }
  .header__feedback {
    margin-right: 20px;
  }
  .header__feedback a {
    width: 100%;
    font-size: 18px;
  }
  .header__search-wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    order: 3;
    margin-top: 20px;
  }
  .header__list {
    font-size: max(1.5vw, 14px);
  }
  .header__item:nth-child(odd) {
    background-color: black;
  }
  .header__item:nth-child(odd)::before {
    content: "";
    display: none;
  }
}
.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .menu-btn {
    position: relative;
    display: block;
    width: 6.667vw;
    height: 6.667vw;
    position: relative;
    z-index: 2;
    overflow: hidden;
    z-index: 150;
    background-color: #f6f6f6;
    background-image: url(../icon/burger-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1vw auto;
    border: 0.278vw solid #e3e3e3;
    border-radius: 1.389vw;
  }
  .menu-btn.active {
    background-image: url(../icon/burger-open.svg);
    background-size: contain;
  }
  .header {
    box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
    width: 100vw;
  }
  .header__menu-wrapper {
    display: none;
  }
  .header__menu-wrapper.active {
    display: block;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 77.778vw;
    min-height: 101vh;
    height: 100%;
    background: #000000;
    box-shadow: 0vw 0vw 2.778vw rgba(0, 0, 0, 0.25);
    border-radius: 0vw;
    padding: 5.556vw 0;
  }
  .header__menu-wrapper.active::-webkit-scrollbar {
    width: 1.389vw;
  }
  .header__menu-wrapper.active::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1.667vw #f6f6f6;
  }
  .header__menu-wrapper.active::-webkit-scrollbar-thumb {
    border-radius: 1.389vw;
    background-color: #ee7f01;
  }
  .header__menu {
    background-color: black;
    width: 100%;
  }
  .header__menu img {
    width: 44.444vw;
    height: 11.111vw;
  }
  .header__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20.833vw;
    width: 100%;
  }
  .header__list li {
    padding: 5.556vw 0;
    border-bottom: 0.278vw solid #313131;
    text-transform: lowercase;
  }
  .header__list .header__nested-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .header__list p,
  .header__list a {
    transition: 0.3s;
    width: 100%;
  }
  .header__item, .header__item-name {
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 600;
    font-size: 4.444vw;
    height: 100%;
    line-height: 1.35em;
    width: 100%;
  }
  .header__nested-list {
    position: relative;
    background-color: transparent;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0;
    top: 0;
    left: 0;
    padding: 0;
    min-width: 100%;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
    color: white;
    overflow: visible;
  }
  .header__item p:hover {
    color: #ee7f01;
  }
  .header__item-name:hover + .header__nested-list, .header__nested-list:hover {
    height: 100%;
  }
  .header__nested-item a {
    color: white;
    font-size: 3.889vw;
    line-height: 5.278vw;
  }
  .header__nested-item::before {
    content: "";
    display: inline-block;
    background-image: url(../icon/icon-line-point.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 2.778vw;
    width: 5.556vw;
    height: 2vw;
  }
  .header__item-catalog a::before {
    display: none;
  }
  .header__item-catalog svg {
    display: block;
    transform: translate(50%, 100%);
    fill: white;
    transition: 0.2s;
    width: 5.556vw;
    height: 2.222vw;
  }
  .header__item-catalog p:hover svg {
    fill: #ee7f01;
    transform: translate(50%, 100%) rotate(90deg);
  }
  .header__feedback-wrap {
    display: none;
  }
  .header__top {
    padding: 5.556vw 0 1.389vw 0;
    border-bottom: 0;
    justify-content: space-between;
  }
  .header__logo-mobile {
    display: block;
    margin-bottom: 9.722vw;
  }
  .header__logo-mobile img {
    width: 44.444vw;
    height: 11.111vw;
  }
  .header__feedback-mobile {
    display: inline-block;
  }
  .header__feedback-mobile img {
    width: 6.667vw;
    height: 6.667vw;
    margin-right: 1.389vw;
  }
  .header__feedback-mobile a {
    font-weight: 700;
    font-size: 5.556vw;
    line-height: 1.35em;
    color: #ee7f01;
  }
  .header__logo {
    margin: 0;
  }
  .header__logo img {
    width: 33.333vw;
    height: 8.333vw;
    padding: 0;
  }
  .header__logo p {
    display: none;
  }
  .header__search-wrap {
    margin-top: 2.778vw;
    width: 100%;
  }
  .header__search {
    width: 100%;
    height: 11.111vw;
    padding: 2.778vw;
  }
  .header__search input {
    font-size: 3.333vw;
    line-height: 4.444vw;
  }
  .header__search button {
    width: 5.556vw;
    height: 5.556vw;
    margin-left: 2.778vw;
  }
}
.footer {
  margin-top: 70px;
  background-color: #1e1e1e;
  padding: 40px 0px 43px;
  color: white;
}
.footer a {
  color: white;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.footer__item p,
.footer__item a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
.footer__item-link a:hover {
  color: #ee7f01;
}
.footer__item-link a:active {
  opacity: 0.23;
}
.footer__nested-item {
  cursor: pointer;
}
.footer__nested-item a {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
  color: white;
  text-transform: lowercase;
  transition: 0.2s;
}
.footer__nested-item:hover a {
  color: #ee7f01;
}
.footer__nested-itema:active {
  color: white;
  opacity: 0.23;
}
.footer__right ul {
  font-weight: 600;
}
.footer__right ul li {
  cursor: pointer;
}
.footer__right ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  transition: 0.2s;
  width: 100%;
}
.footer__right ul li:hover a {
  color: #999999;
}
.footer__search {
  width: 280px;
  height: 42px;
  background: rgba(246, 246, 246, 0.1);
  border: 1px solid rgba(227, 227, 227, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer__search input {
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.3137254902);
}
.footer__search button {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  background-color: transparent;
}
.footer__feedback-list {
  display: flex;
  flex-direction: column;
  row-gap: 7.5px;
}
.footer__feedback-item img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .footer {
    margin-top: 13.889vw;
    padding: 13.889vw 0;
  }
  .footer__wrapper {
    gap: 8.333vw 0;
    flex-direction: column;
  }
  .footer__list {
    flex-direction: column;
    gap: 8.333vw;
  }
  .footer__menu {
    order: 2;
  }
  .footer__right {
    order: 1;
  }
  .footer__right ul li a {
    font-size: 4.444vw;
    line-height: 6.111vw;
  }
  .footer__search {
    padding: 2.778vw;
    width: 100%;
    height: 11.667vw;
    background: rgba(246, 246, 246, 0.1);
    border: 0.278vw solid rgba(227, 227, 227, 0.1);
    margin-bottom: 2.778vw;
  }
  .footer__search input {
    font-size: 4.444vw;
    line-height: 1.375em;
  }
  .footer__search button {
    width: 6.111vw;
    height: 6.111vw;
  }
  .footer__search img {
    width: 100%;
    height: 100%;
  }
  .footer .footer__feedback-list {
    row-gap: 1.389vw;
  }
  .footer__feedback-item img {
    width: 6.667vw;
    height: 6.667vw;
  }
  .footer__item p, .footer__item a {
    font-size: 5vw;
    line-height: 6.944vw;
    margin-bottom: 2.778vw;
  }
  .footer__nested-item a {
    font-size: 3.889vw;
    line-height: 5.278vw;
    margin-bottom: 1.389vw;
  }
}