* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
}

a:focus,
a:active {
  outline: none;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans";
  background-color: #f6f6f6;
  letter-spacing: 0.02em;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  line-height: 33px;
}

h3 {
  font-size: 20px;
  line-height: 27px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.main {
  margin-top: 120px;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.button {
  width: 230px;
  background-color: #ee7f01;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding: 10px;
  white-space: nowrap;
  transition: 0.3s;
}

.button.button-white {
  border: 1px solid #ee7f01;
  background-color: transparent;
  color: #ee7f01;
}

.button:hover {
  background-color: #ffa426;
}

.button:disabled,
.button[disabled] {
  background-color: #ee7f01;
  opacity: 0.3;
  cursor: not-allowed;
}

.page__list {
  margin-top: 40px;
  margin-bottom: 11px;
  display: flex;
}
.page__list li {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  margin-right: 5.5px;
  padding-right: 8.5px;
}
.page__list li a {
  color: black;
}
.page__list li::after {
  content: "/";
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
}
.page__list li:last-child {
  color: #ee7f01;
}
.page__list li:last-child a {
  color: #ee7f01;
}
.page__list li:last-child::after {
  display: none;
}

.price {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #ee7f01;
}
.price span {
  font-weight: 400;
  margin-left: 7px;
}

.border-dashed {
  position: absolute;
  top: -5px;
  right: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.header {
  position: fixed;
  z-index: 50;
  background-color: white;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header__logo {
  display: flex;
  align-items: center;
  margin: 0 -5px;
  margin-right: 36px;
}
.header__logo img {
  width: 210px;
  height: 50px;
  padding: 0 5px;
}
.header__logo p {
  font-size: 14px;
  line-height: 19px;
  color: #7b7b7b;
  border-left: 1px solid #7b7b7b;
  padding: 0 5px;
  height: 25px;
  margin-top: 8px;
  width: 185px;
}
.header__search {
  width: 450px;
  height: 42px;
  background: #f6f6f6;
  border: 1px solid #e3e3e3;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.header__search input {
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
}
.header__search button {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  background-color: transparent;
}
.header__feedback {
  display: flex;
  margin-right: 30px;
}
.header__feedback a {
  width: 220px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  white-space: nowrap;
}
.header__feedback img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.header__message img {
  width: 30px;
  height: 27px;
}
.header__menu {
  width: 100vw;
  background-color: #ee7f01;
}
.header__list {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.header__list a {
  color: white;
}
.header__item {
  position: relative;
  width: 250px;
  height: 35px;
  white-space: nowrap;
  text-transform: lowercase;
  cursor: pointer;
}
.header__item-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.header__item:nth-child(odd)::before {
  content: url(../icon/icon-block-menu.svg);
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 35px;
}
.header__item-catalog {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}
.header__item-catalog ul {
  font-weight: 600;
}
.header__item-catalog li {
  padding-right: 50px;
}
.header__item-catalog a::before {
  content: url(../icon/icon-menu-arrow-right.svg);
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 40px;
  height: 20px;
}
.header__nested-list {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  top: 100%;
  left: 20px;
  padding: 10px;
  min-width: 250px;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}
.header__item-name:hover + .header__nested-list, .header__nested-list:hover {
  visibility: visible;
  opacity: 1;
}
.header__nested-item {
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  text-transform: none;
  transition: 0.2s;
}
.header__nested-item a {
  color: black;
  width: 100%;
}
.header__nested-item:hover {
  border-bottom: 1px solid #999999;
}

@media (min-width: 768px) {
  .header__nested-list {
    overflow-y: auto;
    max-height: 70vh;
  }
  .header__nested-list::-webkit-scrollbar {
    width: 7px;
  }
  .header__nested-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #978a8c;
  }
  .header__nested-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ee7f01;
  }
}
.footer {
  margin-top: 70px;
  background-color: #1e1e1e;
  padding: 40px 0px 43px;
  color: white;
}
.footer a {
  color: white;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer__item p,
.footer__item a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  width: 100%;
  white-space: nowrap;
}
.footer__item-link:hover a {
  color: #ee7f01;
}
.footer__item-link:active a {
  opacity: 0.23;
}
.footer__nested-item {
  cursor: pointer;
}
.footer__nested-item a {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 5px;
  color: white;
  text-transform: lowercase;
  transition: 0.2s;
}
.footer__nested-item:hover a {
  color: #ee7f01;
}
.footer__nested-itema:active {
  color: white;
  opacity: 0.23;
}
.footer__right ul {
  font-weight: 600;
}
.footer__right ul li {
  cursor: pointer;
}
.footer__right ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  transition: 0.2s;
  width: 100%;
}
.footer__right ul li:hover a {
  color: #999999;
}
.footer__search {
  width: 280px;
  height: 42px;
  background: rgba(246, 246, 246, 0.1);
  border: 1px solid rgba(227, 227, 227, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer__search input {
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.3137254902);
}
.footer__search button {
  width: 23px;
  height: 23px;
  margin-left: 10px;
  background-color: transparent;
}
.footer__feedback-list {
  display: flex;
  flex-direction: column;
  row-gap: 7.5px;
}
.footer__feedback-item img {
  width: 24px;
  height: 24px;
}