.action {
    &__wrapper {
        width: 1180px;
        margin-top: 70px;
        transform: translateX(-200px);
        h2 {
            margin-bottom: 40px;
        }
    }
    // .action__image
    &__image {
        img {
            max-width: 980px;
            width: 100%;
            max-height: 356px;
            border-radius: 5px;
            object-fit: contain;
        }
    }
    // .action__product

    &__product {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
        p {
            font-size: 24px;
            line-height: 33px;
            max-width: 680px;
        }
        span {
            font-weight: 600;
        }
        img {
            max-width: 480px;
            max-height: 198px;
            object-fit: cover;
        }
    }
    .product__list-wrapper{
        margin-top: 70px;
    }
    .product__item {
        position: relative;
        .sale {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            margin: 0;
            width: 89px;
            height: 47px;
            display: flex;
            align-items: center;
            span {
                position: relative;
                z-index: 1;
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                color: white;
                margin-left: .7em;
            }
        }
        .sale::before {
            content: "";
            background-image: url(./../icon/sale.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
        }
        .price__wrap {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            column-gap: 10px;
            margin-bottom: 10px;
            s,
            span {
                line-height: 0.8em;
            }
        }
        .before-price {
            color: black;
            opacity: 0.5;
            font-size: 16px;
            line-height: 22px;
        }
    }
}
@media (max-width: 1280px) {
    .action {
        &__wrapper {
            width: 100%;
            transform: translateX(0);
        }
        &__image {
            img {
                max-width: 100%;
                width: 100%;
                max-height: 100%;
            }
        }
    }
}
@media (max-width: 1024px) {
    .action {
        &__product {
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;
            p {
                max-width: 100%;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
@media (max-width: 768px) {
    .action {
        &__wrapper {
            margin-top: 13.889vw;
            h2 {
                margin-bottom: 8.333vw;
            }
        }
        // .action__image
        &__image {
            img {
                width: 88.889vw;
                height: 33.333vw;
                max-width: none;
                max-height: none;
                border-radius: 1.389vw;
            }
        }
        // .action__product

        &__product {
            gap: 2.778vw;
            p {
                font-size: 3.889vw;
                line-height: 5.278vw;
            }
            img {
                width: 88.889vw;
                height: 55.556vw;
            }
        }
            .product__list-wrapper{
            margin-top: 13.889vw;

    }
        .product__item {
            .sale {
                width: 16.111vw;
                height: 8.056vw;
                span {
                    font-size: 3.889vw;
                    line-height: 5.278vw;
                    margin-left: 0.5em;
                }
            }
            .price__wrap {
                column-gap: 2.778vw;
                margin: 2.778vw 0 1.389vw;
                s,
                span {
                    line-height: 0.8em;
                }
            }
            .before-price {
                font-size: 3.333vw;
                line-height: 4.444vw;
            }
        }
    }
}
