.news {
    &__tab-wrapper {
    }

    // .news__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    // .news__item

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
        max-width: 475px;
        min-height: 220px;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 10px;
        img {
            width: 230px;
            height: 200px;
            border-radius: 5px;
            object-fit: cover;
        }
    }

    // .news__item-info

    &__item-info {
        display: flex;
        flex-direction: column;
        max-width: 210px;
        height: 100%;
        time {
            display: inline-block;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #ee7f01;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            max-height: 3em;
            -webkit-line-clamp: 2;
            display: box;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            white-space: normal;
        }
        a {
            display: inline-flex;
            align-items: center;
            width: 100%;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #ee7f01;
            position: relative;
            padding-top: 5px;
            margin-top: 10px;
            border-top: 1px solid #e3e3e3;
        }
        a::after {
            content: "";
            display: block;
            background-image: url(../icon/icon-arrow-right-news.svg);
            transform: translateY(0.1em);
            background-repeat: no-repeat;
            background-size: contain;
            width: 29.999px;
            height: 9.281px;
            margin-left: 10.001px;
        }
    }
    &__item-text {
        flex: 1 0 auto;
        overflow: hidden;
        display: block;
        -webkit-line-clamp: 3;
        display: box;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
    }
}
@media (max-width: 1280px) {
    .news {
        &__item {
            max-width: calc(50% - 10px);
            img {
                width: 50%;
            }
        }
    }
}
@media (max-width: 768px) {
    .news {
        &__tab-wrapper {
            width: 100%;
        }
        &__list {
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 2.778vw;
            width: 100%;
        }

        // .news__item

        &__item {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 2.778vw;
            max-width: 100%;
            min-height: 118.056vw;
            box-shadow: 0px 0px 2.778vw rgba(0, 0, 0, 0.25);
            border-radius: 1.389vw;
            padding: 5.556vw 2.778vw;
            img {
                width: 83.333vw;
                height: 55.556vw;
                border-radius: 1.389vw;
            }
        }

        // .news__item-info

        &__item-info {
            max-width: 100%;
            time {
                font-size: 5.556vw;
                line-height: 7.5vw;
                margin-bottom: 2.778vw;
            }
            h3 {
                font-size: 4.444vw;
                line-height: 6.111vw;
                margin-bottom: 2.778vw;
                -webkit-line-clamp: 2;
            }
            a {
                font-size: 5.556vw;
                line-height: 7.5vw;
                padding: 2.778vw 10.111vw 0 0;
                margin-top: 2.778vw;
                border-top: 0.278vw solid #e3e3e3;
            }
            a::after {
                content: "";
                width: 8.333vw;
                height: 2.578vw;
                margin-left: 2.778vw;
            }
        }
        &__item-text {
            line-height: 5.278vw;
            height: 10.556vw;
            -webkit-line-clamp: 2;
        }
    }
}
