.product {
    &__filter {
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
    }
    &__filter-wrap {
        display: inline-flex;
        background-color: white;
        padding: 5px 10px;
        border-radius: 5px;
        select,
        option,
        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }
        select{
            color: #EE7F01;
        }
    }
}