.product {
    &__filter {
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
    }
    &__filter-wrap {
        display: inline-flex;
        background-color: white;
        padding: 5px 10px;
        border-radius: 5px;
        select,
        option,
        p {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            
        }
        select {
            color: #ee7f01;
        }
    }
}
@media (max-width: 768px) {
    .product {
        &__filter {
            margin-bottom: 4.167vw;
        }
        &__filter-wrap {
            padding: 1.389vw 2.778vw;
            border-radius: 1.389vw;
            select,
            option,
            p {
                font-size: 3.333vw;
                line-height: 4.444vw;
            }
        }
    }
}
